@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  .leaflet-marker-pane {
    .leaflet-marker-icon {
      margin-top: -34.2px !important;
    }
  }

  .leaflet-control-container {
    .leaflet-control-attribution {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
